@media only screen and (min-width: 0px) and (max-width: 767px) {
    
    .slider h2{
        font-size: 25px;
    }

    .slider h3{
        font-size: 22px;
    }

    .slider .feature-slider li {
        line-height: 30px;
        font-size: 13px;
    }

    .sectionTitle h2{
        font-size: 25px;
    }

    .laravel .laravel-feature li {
        font-size: 14px;
    }

    .sectionbantuan .support{
        font-size: 14px;
    }

    .supportbutton{
        text-align: center;
    }

    footer .logobank li{
        width: 15%;
        margin-right: 10px;
        margin-top: 10px;
        display: inline-block;
        position: relative
    }

    .installservice p{
        font-size: 10px;
    }
    

    
}



@media only screen and (min-width: 1201px) and (max-width: 50000px) {

    .navbar-header {
        display: none;
    }


    header nav#navbar {
        padding: 0;
        margin-right: -30px;
        padding-top: 8px;
        display: block;
    }

   



}