@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #fff;
}


.header-top{
    border-bottom: 1px solid #ebebeb;
}
.header-top p{
    font-size: 14px;
    padding: 0;
    margin: 0;
}


.header-top .menu_header_top{
    list-style: outside none none;
    margin: 0;
    text-align: right
}

.header-top .menu_header_top li {
    display: inline-block;
}

.header-top .menu_header_top li a {
    display: inline-block;
    line-height: 50px;
    margin-left: 10px;
    font-size: 15px;
    color: #4d4d4d;
}

.header-top .menu_header_top li a:hover {
    text-decoration: none;
    color: #1a88ed;
}


.header-top .menu_header_top li a i {
    margin-right: 10px;
}


header .menu {
    padding: 10px 0;
    border-bottom: 1px solid #eaeaea;
}


header nav#navbar > ul {
    text-align: right;
    margin-bottom: 0;
    padding-right: 4px
}
header nav#navbar ul > li {
    display: inline-block;
    position: relative
}

header nav#navbar ul > li > a {
    color: #4d4d4d;
    display: inline-block;
    line-height: 37px;
    padding: 0 15px;
    text-transform:capitalize;
    -webkit-transition: .4s;
    transition: .4s;
    font-size: 15px;
}

header nav#navbar ul > li > a:hover {
    text-decoration: none;
    color: #1a88ed;
}


.navbar-toggle {
    color: #288feb;
    font-size: 20px;
    margin: 0;
    background: transparent;
    padding: 5px;
    border: none;
    outline: 5px auto #eaeaea;
    cursor: pointer;
}



.slider{
    border-bottom: 1px solid #eaeaea;
    padding:0;
    margin:0;
    font-family: 'Montserrat', sans-serif;
}

.slider h3{
    font-size: 25px;
    opacity: .72;
}

.slider .feature-slider{
    list-style: outside none none;
    margin: 0;
    padding:0;
}

.slider .feature-slider li {
    line-height: 35px;
    font-size: 15px;
    opacity: .72;
}

.slider .feature-slider li i {
    margin-right: 5px;
    color: #00b348;
    font-size: 22px;
}

.laravel{
    border-bottom: 1px solid #eaeaea;
    padding:0;
    margin:0;
    font-family: 'Montserrat', sans-serif;
    
}

.laravel h4{
    font-size: 15px;
    line-height: 25px;
    opacity: .72;
}

.laravel .laravel-feature{
    list-style: outside none none;
    margin: 0;
    padding:0;
}

.laravel .laravel-feature li {
    font-family: 'Roboto', sans-serif;
    line-height: 35px;
    font-size: 16px;
    opacity: .72;
}

.laravel .laravel-feature li i {
    margin-right: 5px;
    color: #00b348;
    font-size: 22px;
}

.laravel .nb{
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    padding-top: 15px;
    padding-bottom: 15px;
    opacity: .72;
}

.sectionTitle h2{
    font-size: 28px;
    opacity: .72;
    font-family: 'Montserrat', sans-serif;
}


.servicearea .serviceContent h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-top: 20px;
    font-size: 20px;

}

.servicearea .serviceContent p{
    font-size: 18px;
}

.servicearea .singleService{
    margin-bottom: 60px;
    margin-top: 30px;
}

.package h3{
    font-family: 'Montserrat', sans-serif;
    padding:0;
    margin: 0;
    font-size: 20px;
}


.limit i{
    color: #00b348;
    font-size: 22px;
}
.table td, .table th{
    padding: 5px 15px 0.30rem;
}

.table-active, .table-active>td, .table-active>th{
    background-color: #f7f7f7;
}

.installservice p{
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.installservice .colinstall{
    height: 220px;
}



.modul ul{
    list-style: outside none none;
    margin: 0;
    padding:0;
    
}

.sectionshare{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    background: rgb(247, 247, 247);
    display: block;
    padding:30px 0 30px;;
}

.sectionshare p{
    padding: 0;
    margin: 0;
}

.sectionbantuan{
    padding: 60px;
    background: #22a1f0;
    color: #fff;
}

.sectionbantuan .support{
    border-right:1px solid #fff ;
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
}

.supportbutton{
    text-align: right;
}

.linux p{
    font-size: 18px;
    opacity: .72;
}
.linux h2{
    opacity: .72;
    padding:0;
    margin:0;
    font-family: 'Montserrat', sans-serif;
    
}





.btn-primary {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #fff;
    line-height: 30px;
    border-radius: 40px;
    background: #0090ef;
    transition: all 0.3s ease 0s;
    padding-left:20px;
    padding-right:20px;
  }

.btn-outline-secondary{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #000;
    border: 2px solid #000;
    line-height: 30px;
    border-radius: 40px;
    background: transparent;
    transition: all 0.3s ease 0s;
    padding-left:20px;
    padding-right:20px;
  }

  .btn-outline-white{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #fff;
    border: 2px solid #fff;
    line-height: 30px;
    border-radius: 40px;
    background: transparent;
    transition: all 0.3s ease 0s;
    padding-left:20px;
    padding-right:20px;
  }

  .btn-outline-white i{
      margin-right: 15px;
      font-size: 20px;
  }


 


  .singlePrice {
    border: 1px solid #e8e8e8;
    text-align: center;
    width: 100%;
}

.priceBody {
    padding:20px;
    list-style: outside none none;
    text-align: center;
    margin-bottom: 20px;
    
}

.priceTitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 25px;
    padding: 5px 5px;
    border-bottom: 1px solid #e8e8e8;
}

.priceUser{
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 14px;
}

.priceHead p{
    padding:0;
    margin: 0;
}

.priceHead{
    padding:10px;
    font-family: 'Montserrat', sans-serif;
}

.priceHead p{
    font-weight: bold;
    font-size: 35px;
}

.priceHead .currency_month{
    font-size: 14px;
}
.priceHead p span{
    font-size: 14px;
    
}

.priceBody > li {
    color: #000;
    font-size: 14px;
    line-height: 30px;
}

.priceBody > li i{
    color: #008fee;
    font-size: 18px;
}

.priceCol {
    padding: 0
}


.singlePrice.active .priceTitle, .singlePrice.active .priceHead  {
    background-color: #008fee;
    color: #fff;
    border-style: none;
} 

.singlePrice.active .priceUser{
    background-color: #007fde;
    color: #fff;
    border-style: none;
} 





.singlePrice.active,
.priceCol:last-child .singlePrice.active {
    border: 1px solid #008fee;
} 


.singlePrice.active:before{
    content: "BEST SELLER!";
    box-shadow: aquamarine;
    background: #00b359;
    color: #fff;
    position: absolute;
    width: 120px;
    z-index: 10000;
    transform: rotate(-45deg);
    -webkit-transform: rotate(310deg);
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    padding: 10px;
    top: 10px;
    left: -30px;
}

footer {
    padding: 70px 0 0;
    color: #FFF;
    background-color: #333;
}

footer .widget .h4{
    color: #fff;
    font-size: 14px;
    margin-bottom: 20px;
    text-transform: capitalize;
    opacity: .40;
}

.footerLink {
    list-style: outside none none;
    margin: 0;
    padding:0;
}

.footerLink li a{
    color: #fff;
    font-size: 14px;
    opacity: .40;
}

.footerLink li a:hover{
    text-decoration: none;
}

footer .logobank{
    list-style: none;
}

footer .logobank li{
    width: 7%;
    margin-right: 10px;
    display: inline-block;
    position: relative
}

footer p{
    opacity: .40;
    color: #fff;
    font-size: 14px;
}

footer .copyright{
    opacity: .40;
    color: #fff;
    font-size: 12px;
}



.input-group .form-control{
    border: none;
    border-radius: 30px 0 0 30px;
}

.input-group .input-group-append{
    background-color: #fff;
    background-image: none;
    border-radius: 0 30px 30px 0;
    box-shadow: 0 1px 1px rgb(0 0 0 / 8%) inset;
    color: #2c3e50;
    padding-right: 5px;
}

.input-group  button{

    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: #fff;
    line-height: 30px;
    border-radius: 40px;
    background: #0090ef;
    border: 1px solid #0090ef;
    transition: all 0.3s ease 0s;
    padding-left:20px;
    padding-right:20px;
    margin:10px;
} 

footer .footericon{
    color: #fff;
    font-size: 28px;
    margin-right: 20px;
    line-height: 100px;
}

