@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #fff;
}

header{
    font-size: 1.14em;
}


header .topInfo {
    list-style: outside none none;
    margin: 0;
    text-align: right
}

header .topInfo li {
    display: inline-block;
}

header .topInfo li a {
    display: inline-block;
    line-height: 50px;
    margin-left: 30px;
    font-size: 15px;
    color: #4d4d4d;
}

header .topInfo li a:hover {
    text-decoration: none;
    color: #1a88ed;
}

header .topInfo li span i,
header .topInfo li a i {
    margin-right: 15px;
}


header .headerTopArea {
    border-bottom: 1px solid #ebebeb
}

header .logo {
    display: inline-block;
    height: 37px;
    position: relative;
    z-index: 9
}

header .logo img {
    height: 100%;
}

header .headerBottomArea {
    padding: 10px 0;
    border-bottom: 1px solid #eaeaea;
}


.feature-header {
    list-style: outside none none;
    margin: 0;
    padding:0;
}

.feature-header li {
    font-family: 'Montserrat', sans-serif;
    line-height: 30px;
}

.navbar-toggle {
    color: #288feb;
    margin: 0;
    background: transparent;
    padding: 5px;
    border: none;
    outline: 5px auto -webkit-focus-ring-color;
    cursor: pointer;
}

header nav#navbar > ul {
    text-align: right;
    margin-bottom: 0;
    padding-right: 4px
}

header nav#navbar ul > li {
    display: inline-block;
    position: relative
}

header nav#navbar ul > li > a {
    color: #4d4d4d;
    display: inline-block;
    line-height: 37px;
    padding: 0 15px;
    text-transform:capitalize;
    -webkit-transition: .4s;
    transition: .4s;
    font-size: 15px;
}

header nav#navbar ul > li > a:hover {
    text-decoration: none;
    color: #1a88ed;
}


.homeArea{
    padding: 30px 0 30px;
}

.singleService {
    text-align: center;
    line-height: 28px;
    margin-top: 60px;
}

.serviceContent h3 {
    padding:0;
    margin: 0px 0 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;

}

.serviceContent p {
    margin: 0;
}


.ctaTwo{
    background: #00a2f3;
    color: #fff;
    padding: 60px 0;
    text-align: center;
}



.copyright_info {
    padding: 30px 0 50px;
    margin: 0;
    width: 100%;
    font-size: 12px;
    background-color: #333;
    float: left;
    color: #d7d7d7;
    text-align: center;
}

.copyright_info hr.super-soft {
    border-bottom: 1px solid #2d2d2d!important;
    border-top: 1px solid #2d2d2d!important;
}


footer{
    float: left;
    width: 100%;
    background-color: #333;
    padding: 20px 0 0;
}

footer .footer_center {
    float: left;
    width: 100%;
    color: #d7d7d7;
    line-height: 18px;
}

footer .font-r-bold.title {
    font-size: 14px!important;
    color: #8d8d8d!important;
    font-family: 'Roboto-Bold',sans-serif!important;
}


.fontmontserrat{
    font-family: 'Montserrat', sans-serif;
}
